*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: linear-gradient(rgb(1,1,1),rgb(7, 2, 20),rgb(1,1,1))
no-repeat fixed center center;

}

header{
    width: 100%;

}
.menu{
    background: linear-gradient(rgb(96, 4, 69),rgb(149, 30, 72),rgb(76, 3, 54));
    display: flex;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(rgb(96, 4, 69),rgb(149, 30, 72),rgb(76, 3, 54));
    display: flex;
    justify-content: space-around;

}

.menu .item{
    float: left;
}
.menu .item a{
    color: white;
    padding: 12px 22px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    background: rgba(203, 117, 189, 0);
    transition: .5s;

}
.menu .desple{
    display: none;
    position: absolute;
    z-index: 20;
    padding: 20px;
    color: white;
    border-radius: 0 0 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 80%;
    left: 10%;
}
.menu h3{
    font-size: 1.5rem;
    text-align: center;

}
.desple p{
    margin: 10px;
}
.menu .item:hover .desple,.desple2,.desple3{
    display: block;

}
.menu a:hover{
    background: rgba(203, 117, 189, 0.609);

}

.menu .galeria{
    background: #000;
    padding: 5px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.menu .galeria img{
    width:20%;
    height: 230px;
    margin: 10px;
    padding: 5px;
    border: 2px solid grey;
    opacity: .5;
    transition: .7s;
    
}
.menu .galeria img:hover{
    border: 2px solid white;
    opacity: 1;
}

section{
    padding: 10px;
    width: 100%;
}
section img:nth-of-type(1),section img:nth-of-type(2){
    width: 23%;
    height: auto;
    z-index: 10;
}
section img:nth-of-type(1){
    position: absolute;
}
section img:nth-of-type(2){
    position: absolute;
    left: 75%; 

}
section img:nth-of-type(3){
    width: 100%;
    height: auto;

}

footer{
    background: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
footer img{
    width: 15%;
    height: auto;
    padding-right: 30px;
}

/* Tablets */
@media (max-width: 750px){
    .menu .item a{
        font-size: 1.2rem;

    }
    .menu .desple{
        width: 90%;
        left: 5%;
    }
    .menu .galeria img{
        margin: 7px;
        height: 170px;

    }

}

/* Telefonos */
@media (max-width: 450px){
    .menu .item a{
        font-size: 1rem;

    }
    .menu .desple{
        width: 100%;
        left: 0;
    }
    .menu .galeria img{
        margin: 3px;
        height: 130px;

    }

}